attrs==20.3.0
beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
check50==3.3.11
cryptography==45.0.3
idna==3.10
jellyfish==0.11.2
Jinja2==3.1.6
lib50==3.0.12
MarkupSafe==3.0.2
packaging==25.0
pexpect==4.9.0
ptyprocess==0.7.0
pycparser==2.22
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
soupsieve==2.7
submit50==3.2.0
termcolor==1.1.0
typing_extensions==4.14.0
urllib3==1.26.20
